.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box > input {
  padding: 20px;
  font-size: 17px;
}

.search-box > button {
  padding: 20px;
  font-size: 17px;
}

.champion-list {
  display: flex;
  flex-wrap: wrap;
}
.champion {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  transition: 0.1s ease;
}

.champion:hover {
  transform: scale(1.05);
}

.champion > img {
  margin-bottom: 10px;
}
